<div class="container  is-fluid animated fadeInUp">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-7 overflow-auto is-parent">
            <div class="tile is-child ">
                <div class=" box table-container">
                    <div class="columns">
                        <div class="column is-10 is-offset-2">
                            <table class="table is-striped">
                                <thead>
                                    <tr>
                                        <th colspan="9">
                                            <abbr title="Market Rotation & Economic Cycle + Performing Industries">
                                                Market Rotation & Economic Cycle + Performing Industries
                                                </abbr>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th colspan="4"><strong>Stage</strong></th>
                                        <th colspan="1"><strong>Full Recession (Slump)</strong></th>
                                        <th colspan="1"><strong>Early Recovery(deflation)</strong></th>
                                        <th colspan="1">
                                            <strong>Full Recovery(Boom)</strong>
                                        </th>
                                        <th colspan="1">
                                            <strong>Early Recession(Inflation)</strong>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><strong>Consumer Expectations (Consumer Confidence)</strong></th>
                                        <td clickable>Reviving</td>
                                        <td clickable>Rising</td>
                                        <td clickable>Declining</td>
                                        <td clickable>Fallig Sharply</td>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><strong>Industrial Production :</strong></th>
                                        <td clickable>Bottoming Out</td>
                                        <td clickable>Rising</td>
                                        <td clickable>Flat(Topping Out)</td>
                                        <td clickable>Falling</td>
                                    </tr>
                                    <tr>
                                        <th colspan="4"><strong>Interest Rates:</strong></th>
                                        <td clickable>Falling</td>
                                        <td clickable>Bottoming Out</td>
                                        <td clickable>Rising Rapidly</td>
                                        <td clickable>Peaking</td>
                                    </tr>
                                    <tr>
                                        <th colspan="4"> <strong>Yield Curve:</strong></th>
                                        <td clickable>Normal</td>
                                        <td clickable>Normal(Steep)</td>
                                        <td clickable>Flattening Out</td>
                                        <td clickable>Flat/Inverted</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box ">
                    <div class="columns">
                        <div class="column is-4">
                            <figure class="image">
                                <img class="" src="app/static/images/macro_circle.png" alt="">
                            </figure>
                        </div>
                        <div class="column is-8">
                            <figure class="image">
                                <img class="" src="app/static/images/macros_cycle.png">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="overflow-auto box">
                    <div class="title is-4 is-marginless">Economic Calender</div>
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <iframe src="https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&importance=2,3&features=datepicker,timezone,timeselector,filters&countries=25,32,6,37,72,17,39,35,43,36,4,5&calType=week&timeZone=55&lang=1"
                                width="100%" height="700" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tile is-vertical is-5 is-parent">

            <div class="tile is-child">
                <div class="box">
                    <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=concconf&v=201705041725u&d1=20070101&d2=20171231&type=type=line&h=auto&w=auto'
                        height='250px' width='100%' frameborder='0' scrolling='no'></iframe>

                </div>
                <div class="box">
                    <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=ip+yoy&v=201704242324u&d1=20070101&d2=20171231&type=type=line&h=300&w=600'
                        height='250px' width='100%' frameborder='0' scrolling='no'></iframe>
                </div>
                <div class="box">
                    <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=fdtr&v=201705092125u&d1=20070101&d2=20171231&h=300&w=600' height='250px'
                        width='100%' frameborder='0' scrolling='no'></iframe>

                </div>
                 <div class="box"><iframe src="https://www.oanda.com/forex-trading/analysis/economic-indicators/united-states/rates/yield-curve#s21_1" width="100%" height="300px" scrolling="no" frameborder="0"></iframe></div>   
                <!--<div class="box" style="width:426px;float:left;border:2px solid #00aa00;margin:5px">
                    <div style="background-color:#00aa00;padding:6px 6px 16px 6px;margin-top:5px;color:#fff;font:10px arial,sans-serif"><span><a href="https://www.oanda.com/register/#/sign-up" target="_blank" style="font-weight:bold;color:#fff;text-decoration:none">Register for an OANDA forex trading account</a></span>
                        <span
                            style="float:right;"><a id="econostats_fxtrade_tool_link" href="https://www.oanda.com/forex-trading/analysis/economic-indicators"
                                target="_blank" style="font-weight:bold;color:#fff;text-decoration:none">Econostats</a> powered
                            by <a id="econostats_fxtrade_link" href="https://www.oanda.com" target="_blank" style="font-weight:bold;color:#fff;text-decoration:none">OANDA</a></span>
                    </div>
                    <script src='https://www.oanda.com/embed/get/econostats/?s=%7B%220%22%3A%7B%22gr_name%22%3A%22Fixed-Income+Securities%22%2C%22gr_country%22%3A%22US%22%2C%22gr_detail_name%22%3A%221m%22%2C%22gr_grouped%22%3A1%2C%22gr_is_relative%22%3A0%7D%7D'></script>
                    <div style="clear:both"></div>
                </div>-->
            </div>
        </div>
    </div>
</div>