<div class="container overflow-scroll is-fluid">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-7 overflow-auto">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child ">
                        <div class=" box table-container">
                            <table class="table is-striped">
                                <thead>
                                    <tr>
                                        <th colspan="5">
                                            <abbr title="Market Rotation & Economic Cycle + Performing Industries">
                                                Market Rotation & Economic Cycle + Performing Industries
                                                </abbr>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th><strong>Stage</strong></th>
                                        <th><strong>Full Recession (Slump)</strong></td>
                                            <th><strong>Early Recovery(deflation)</strong></td>
                                                <th>
                                                    <strong>Full Recovery(Boom)</strong>
                                                    </td>
                                                    <th>
                                                        <strong>Early Recession(Inflation)</strong>
                                                        </td>
                                    </tr>
                                    <tr>
                                        <th><strong>Consumer Expectations (Consumer Confidence)</strong></th>
                                        <td clickable>Reviving</td>
                                        <td clickable>Rising</td>
                                        <td clickable>Declining</td>
                                        <td clickable>Fallig Sharply</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Industrial Production :</strong></th>
                                        <td clickable>Bottoming Out</td>
                                        <td clickable>Rising</td>
                                        <td clickable>Flat(Topping Out)</td>
                                        <td clickable>Falling</td>
                                    </tr>
                                    <tr>
                                        <th><strong>Interest Rates:</strong></th>
                                        <td clickable>Falling</td>
                                        <td clickable>Bottoming Out</td>
                                        <td clickable>Rising Rapidly</td>
                                        <td clickable>Peaking</td>
                                    </tr>
                                    <tr>
                                        <th> <strong>Yield Curve:</strong></th>
                                        <td clickable>Normal</td>
                                        <td clickable>Normal(Steep)</td>
                                        <td clickable>Flattening Out</td>
                                        <td clickable>Flat/Inverted</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="box">
                            <figure class="image">
                                <img src="app/static/images/macros_cycle.png">
                            </figure>
                        </div>
                    </div>
                    <div class="tile is-child">
                        <div class="overflow-auto box">
                            <iframe src="https://sslecal2.forexprostools.com?columns=exc_flags,exc_currency,exc_importance,exc_actual,exc_forecast,exc_previous&importance=2,3&features=datepicker,timezone,timeselector,filters&countries=25,32,6,37,72,22,17,39,10,35,43,36,110,26,12,4,5&calType=week&timeZone=55&lang=1"
                                width="650" height="467" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0"></iframe>
                            <div class="poweredBy" style="font-family: Arial, Helvetica, sans-serif;"><span style="font-size: 11px;color: #333333;text-decoration: none;">Real Time Economic Calendar provided by <a href="https://www.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com</a>.</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-parent is-5">
                <div class="tile is-child">
                    <div class="overflow-scroll">
                        <div class="box">
                            <figure class="image">
                                <img src="app/static/images/us_consumer_confidence.PNG">
                            </figure>
                        </div>
                        <div class="box">
                            <figure class="image">
                                <img src="app/static/images/us_consumer_confidence.PNG">
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="tile is-child box">

                    <figure class="image">
                        <img src="app/static/images/us_consumer_confidence.PNG">
                    </figure>

                </div>
                <div class="tile is-child box">

                    <figure class="image">
                        <img src="app/static/images/us_consumer_confidence.PNG">
                    </figure>

                </div>
            </div>

    </div>