<div class="container overflow-scroll is-fluid animated fadeInUp">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8 overflow-auto">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box">
       

                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box"></div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box"></div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-4">
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="box"></div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="box"></div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child">
                    <div class="box"></div>
                </div>
            </div>
        </div>
    </div>
</div>