<div class="container  is-fluid animated fadeInUp">
    <div class="columns">
        <div class="column is-6 is-offset-4">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Product type</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <span class="select">
                                <select ng-model="searchProductType">
                                        <option value="CUR">Currency</option>
                                        <option value="EQU">Equities</option>
                                        <option value="FUT">Futures</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Week No.</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <input class="input" type="text" placeholder="Week No." ng-model="searchWeekNum">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Min Probablity</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinProbChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Min $ change</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinValChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Min % change</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinPerChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <label class="label">Consecutive 2 weeks?</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                                    <input type="radio" name="conWeeks" value="true">
                                    Yes
                                </label>
                            <label class="radio">
                                <input type="radio" name="conWeeks" value="false">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-if="searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Sector</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-if="searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Industry</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-if="searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Market Cap</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-if="searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Volume</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Search Symbol</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <textarea class="textarea" placeholder="Separated by Commas" ng-model="searchSymbol"></textarea>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label"></label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow is-grouped">
                        <p class="control">
                            <button class="button is-primary" ng-click="showResOverlay()">Submit</button>
                        </p>
                        <p class="control">
                            <button class="button is-link">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeInUpBig z-30" ng-class="{'is-active':modalOpen}">
    <div class="modal-background overflow-auto">
        <div class="is-fullwidth m-40px ">
            <div class="box column">
                <div class="mb-5" ng-repeat="(freq,dataSet) in currencyData">

                    <div class="column is-12" ng-repeat="(year,yearData) in dataSet ">
                        <div class="" ng-repeat="(type,entityData) in yearData">
                            <div class="columns mt-4">
                                <div class="column is-12 has-text-centered is-paddingless">
                                    <div class="blue-text title is-4 is-bold is-marginless">{{freq.toUpperCase()}}</div>
                                    <span class="is-bold"> ({{year}} - {{currentYear}}) or (last {{currentYear-year}} years) - {{type}} </span>
                                </div>
                            </div>
                            <div class="columns is-multiline">
                                <div class="column is-1 is-bordered" ng-repeat="(key,val) in entityData" ng-if="Object.size(val)">
                                    <span class="is-bold is-paddingless ">Week {{key}}</span>
                                    <div ng-repeat="(sym,data) in val">
                                         {{sym}}-{{data.reliabality}}% </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="modal-close" ng-click="toggleModal()">

        </div>
    </div>