<div class="container  is-fluid animated fadeInUp">
    <div class="tabs is-toggle is-right is-fullwidth">
        <ul>
            <li ng-class="{'is-active':subMenuMode==='criteria'}" ng-click="toggleSubmenu('criteria')"><a>Search Criteria</a></li>
            <li ng-class="{'is-active':subMenuMode==='products'}" ng-click="toggleSubmenu('products')"><a> Products</a></li>
        </ul>
    </div>
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Product type</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <span class="select">
                                <select ng-model="searchProductType" ng-change="changeProductType()">
                                        <option value="CUR">Currency</option>
                                        <option value="EQU">Equities</option>
                                        <option value="FUT">Futures</option>
                                </select>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria'">
                <div class="field-label is-normal">
                    <label class="label">Week No.</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <input class="input" type="text" placeholder="Week No." ng-model="searchWeekNum">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria'">
                <div class="field-label is-normal">
                    <label class="label">Min Probablity</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinProbChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria'">
                <div class="field-label is-normal">
                    <label class="label">Min $ change</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinValChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria'">
                <div class="field-label is-normal">
                    <label class="label">Min % change</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow ">
                        <p class="control">
                            <input class="input" type="text" placeholder="number" ng-model="searchMinPerChange">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria'">
                <div class="field-label">
                    <label class="label">Consecutive 2 weeks?</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <label class="radio">
                               
                                    <input type="radio" ng-model="conWeeks" name="conWeeks" ng-value=true>
                                    Yes
                                </label>
                            <label class="radio">
                                <input type="radio" ng-model="conWeeks" name="conWeeks" ng-value=false>
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria' && searchProductType==='EQU'">
                <div class="field-label is-normal">
                    <label class="label">Sector</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <div isteven-multi-select search-property="Sector" input-model="allSectors" output-properties="Sector TickerData Ticked"
                                output-model="searchSector" button-label="Sector" helper-elements="filter reset" on-reset="updateTickerList('sector','reset')"
                                on-item-click="updateTickerList()" item-label="Sector" tick-property="Ticked"></div>
                        </p>
                    </div>
                </div>
                <!--<div class="field-body">
                    
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="text" ng-model="searchSector" placeholder="number">
                        </p>
                    </div>
                </div>-->
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria' && searchProductType==='EQU'">
                <div class="field-label is-normal">
                    <label class="label">Industry</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <div isteven-multi-select search-property="Industry" input-model="allIndustries" output-properties="Industry TickerData Ticked"
                                output-model="searchIndustry" button-label="Industry" on-item-click="updateTickerList()" item-label="Industry"
                                on-reset="updateTickerList('industry','reset')" helper-elements="filter reset" tick-property="Ticked"></div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show="subMenuMode==='criteria' && searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Market Cap</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="number" ng-model="searchCap" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" ng-show=" subMenuMode==='criteria' && searchProductType!='CUR'">
                <div class="field-label is-normal">
                    <label class="label">Volume</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <input class="input" type="number" ng-model="searchVolume" placeholder="number">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Search Symbol</label>
                </div>

                <div class="field-body">
                    <div class="field is-narrow">
                        <p class="control">
                            <div isteven-multi-select input-model="allTickers" output-properties="Name Sector Maker Industry Exchange Code Contracts"
                                output-model="searchSymbol" on-reset="fReset()" helper-elements="filter reset" button-label="Name"
                                item-label="Maker Exchange" tick-property="Ticked"></div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label"></label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow is-grouped">
                        <p class="control">
                            <button class="button is-primary is-outlined" ng-click="showResOverlay()">Submit</button>
                        </p>
                        <p class="control">
                            <button class="button is-link">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-3">
            <div class="box" ng-if="searchSymbols">
                <div class="title blue-text bold-text is-5 is-marginless">
                    Selected Tickers ({{searchSymbols.length}})
                </div>
                <div class="help is-danger mb-4">
                    Try to keep selected Tickers below 6 for accurate resulate, as quandl has an API limit and it ignored ticker randomly if provided in bulk
                </div>
                <span class="tag is-info fast-transition" ng-repeat="tag in searchSymbols track by $index|unique:'tag'">
                    {{tag}}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeInUpBig z-30" ng-class="{'is-active':modalOpen}">
    <div class="modal-background overflow-auto">
        <div class="is-fullwidth m-40px ">
            <div class="box column">
                <div class="columns">
                    <div class="column is-4">
                        <span class="tag is-info black-text">Current Week</span>
                        <span class="tag is-warning">Chosen Week</span>
                        <span class="tag is-light green-text" ng-if="conWeeks">Consecutive Weeks</span>
                        
                    </div>

                    <div class="column is-8">
                        <table class="table is-striped" ng-if="Object.size(dates)">
                            <thead>
                                <tr>
                                    <th class="small-text"><strong> Symbol</strong></th>
                                    <th class="small-text"><strong>From Date</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(ticker,date) in dates">
                                    <td class="small-text">{{ticker}}</td>
                                    <td class="small-text">{{date}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="help is-info mb-4 column is-10" ng-if="searchProductType==='EQU'">
                            Note- Quandl API only had data for these tickers, if any ticker is omitted in final results it means quandl did not provide data for that
                        </div>
                    </div>
                </div>



                <div class="mb-5" ng-repeat="(freq,dataSet) in currencyData">
                    <div class="column is-12 no-animate" ng-repeat="(year,yearData) in dataSet ">
                        <div class="no-animate" ng-repeat="(type,entityData) in yearData">
                            <div class="columns mt-4">
                                <div class="column is-12 has-text-centered is-paddingless">
                                    <div class="blue-text title is-4 is-bold is-marginless">{{freq.toUpperCase()}}</div>
                                    <span class="is-bold"> ({{year-5}} - {{currentYear}}) or (last {{currentYear-year}} years) - {{type}} </span>
                                </div>
                            </div>
                            <div class="columns is-multiline">
                                <div class="column is-1 is-bordered padding-1-imp" ng-repeat="(key,val) in entityData" ng-if="Object.size(val)" ng-class="{'yellow-background':searchWeekNum==key,'blue-background':currentWeek==key,'green-background':false}">
                                    <div class="is-bold is-paddingless ">{{getFreq(key,freq)}}</div>
                                    <div class="hoverView" ng-repeat="(sym,data) in val" ng-class="{'green-text':conWeeks && (entityData[toInt(key)-1][sym].count || entityData[toInt(key)+1][sym].count)}">
                                        <span class="small-text">{{sym}}-{{data.reliabality}}%</span>
                                        <span class="box smallView" ng-if="searchProductType==='EQU'">
                                            <span class="blue-text is-underlline" ng-click="goToFunda('etf',data)">ETF</span>
                                        <span class="blue-text is-underlline" ng-click="goToFunda('equities',data)">Equities</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-close" ng-click="toggleModal()">

    </div>
</div>