<div class="container is-fluid animated fadeInUp">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="tile is-vertical is-12">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover orange" ng-click="logout()">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="title is-4 level-item grey">
                                        Log-Out
                                    </div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-sign-out"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent" ng-if="is_admin">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover green" ng-click="inviteUserModalOpen()">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="title is-4 level-item">Add User</div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent" ng-if="is_admin">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover red" ng-click="removeUserModalOpen()">
                            <div class="level is-mobile">
                                <div class="level-left">
                                    <div class="title is-4 level-item">Remove User</div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover blue" ng-click="loginHistoryModalOpen()">
                            <div class="level is-mobile">
                                <div class="level-right">
                                    <div class="level-item title is-4">Login History</div>
                                </div>
                                <div class="level-left has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-history"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover blue">
                            <div class="level is-mobile">
                                <div class="level-right">
                                    <div class="level-item title is-4">Change Password</div>
                                </div>
                                <div class="level-left has-text-centered">
                                    <span class="level-item icon level-item is-medium"><i class="fa fa-key"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal animated fadeInUpBig z-30" ng-class="{'is-active':modalOpen}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box" ng-if="modalMode==='userInvite'">
            <form name="inviteForm" ng-submit="inviteUser()">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email Id</label>
                    </div>
                    <div class="field-body">
                        <div class="field has-addons">
                            <p class="control is-expanded">
                                <input class="input" ng-model="setting.inviteEmailId" type="email" required autocomplete="off" placeholder="Email">
                            </p>
                            <p class="control">
                                <button class="button is-primary" type="submit">Invite</button>
                            </p>
                        </div>
                    </div>

                </div>
                <p class="help is-success has-text-centered" ng-if="userAdded">User added successfully</p>
                <p class="help is-danger has-text-centered" ng-if="userExists">User already exists</p>

            </form>
        </div>
        <div class="box" ng-if="modalMode==='removeUser'">
            <div class="title is-3 has-text-centered">
                User List
            </div>
            <div class="level is-mobile" ng-repeat="user in usersList track by $index" ng-if="user.role==='user'">
                <div class="level-item blue-text">
                    <label>{{user.email}}</label>
                </div>
                <div class="level-item primary">
                    {{user.role}}
                </div>
                <div class="level-item" ng-click="removeUserByEmail(user.email,$index)">
                    <button class="delete">
                    </button>
                </div>
            </div>
            <p class="help is-success has-text-centered" ng-if="userRemoved">User removed successfully</p>

        </div>
        <div class="box overflow-auto" ng-if="modalMode==='history'">
            <div class="title is-3 has-text-centered">
                Login History
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="Created On">Created</abbr></th>
                        <th>Browser</th>
                        <th><abbr title="Is this token Alive?">alive</abbr></th>
                        <th><abbr title="Destroyed On">Destroyed</abbr></th>
                        <th><abbr title="Duration">Duration</abbr></th>
                        <th><abbr title="Lost"></abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="session in loginHistory track by $index">
                        <td>{{moment(session.created_on,'X').format('HH:mm ddd MM')}}</td>
                        <td>{{session.device.browser.substr(0,10)}}</td>
                        <td>{{session.is_alive}}</td>
                        <td ng-if="!session.destroyed_on">NA</td>
                        <td ng-if="session.destroyed_on">
                            {{moment(session.destroyed_on,'X').format('HH:mm ddd MM')}}
                        </td>
                        <td ng-if="!session.destroyed_on">'NA'</td>
                        <td ng-if="session.destroyed_on">{{(moment(moment(session.destroyed_on,'X')).diff(moment(session.created_on,'X'),'hours',true)).toString().substr(0,4)}}
                            hours</td>
                    </tr>
                </tbody>
            </table>
            <div class="block is-marginless has-text-centered">
                <button type="submit" ng-click="deleteTokenTrigger()" class="button is-danger is-big is-expanded">Delete All tokens</button>
            </div>

            <p class="help is-danger has-text-centered">if you delete all tokens, app will be logged out from all the devices, including this one</p>

        </div>
    </div>
    <button class="modal-close" ng-click="toggleModal()"></button>
</div>