<div class="container overflow is-fluid">
    <div class="columns">
        <div class="column is-4 is-offset-4">
            <div class="tile is-vertical is-8 is-offset-4">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover orange" ng-click="logout()">
                            <div class="level">
                                <div class="level-left">
                                    <div class="title is-4 level-item grey">
                                        Log-Out
                                    </div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-sign-out"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover green">
                            <div class="level">
                                <div class="level-left">
                                    <div class="title is-4 level-item">Add User</div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-plus"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover red">
                            <div class="level">
                                <div class="level-left">
                                    <div class="title is-4">Remove User</div>
                                </div>
                                <div class="level-right has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-minus"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="box cursor-p on-hover blue">
                            <div class="level">
                                <div class="level-right">
                                    <div class="title is-4">Login History</div>
                                </div>
                                <div class="level-left has-text-centered">
                                    <span class="icon level-item is-medium"><i class="fa fa-history"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>