<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left has-icons-right">
    <input class="input" ng-model="pwdVal" type="password">
    <span class="icon is-small is-left">
      <i class="fa fa-key"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fa fa-warning is-hidden"></i>
    </span>
  </p>
  <p class="help is-danger" ng-class={'is-hidden':!error.pwd}>This Password is invalid</p>
</div>

<div class="block is-4 is-offset-8 column has-text-right is-paddingless">
  <button class="is-primary button is-outlined is-righ-aligned" ng-click="submitPwd()">Get In</button>
</div>
